ANTHROPIC_BASE_URL=
ANTHROPIC_AUTH_TOKEN=
ANTHROPIC_MODEL="anthropic.claude-4-6-sonnet"
ANTHROPIC_DEFAULT_HAIKU_MODEL="anthropic.claude-4-5-haiku"
ANTHROPIC_DEFAULT_SONNET_MODEL="anthropic.claude-4-6-sonnet"
ANTHROPIC_DEFAULT_OPUS_MODEL="anthropic.claude-4-6-opus"
CLAUDE_CODE_SKIP_AUTH_LOGIN="true"
CLAUDE_CODE_DISABLE_EXPERIMENTAL_BETAS="1"
CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS="1"